body {
    background-color: darkkhaki;
    margin-bottom:65px;
    font-family: "arial"

}
h1{
    color: papayawhip;
    font-size: 50px;
    font-style: italic
    
    
}
h2 {
    color: papayawhip;
    font-size: 35px; 
    font-style: italic;
}
h3 {
    color:papayawhip;
    font-size: 20px;
    font-style: italic; 
}
h4 {
    color:darkolivegreen;
    font-size: 25px;
    font-style: italic;
    font-family: "courier";
    background-color: papayawhip
        
}
.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}